.gallery {
    max-width: 100%;
    padding: 0 5vw;
}

.collection {
    margin-bottom: 2rem;
}

.artpiece {
    width: 300px;
    margin-bottom: 10px;
    break-inside: avoid;
    img {
        width: 100%;
    }
    video {
        width: 100%;
    }
}

h2 {
    font-size: 4em;
}