main {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.mobile-card {
    max-width: 768px;
    width: calc(100vw - 8px * 2) !important;
    height: calc(100vh - 8px * 2) !important;
}

#reset .fa-arrow-rotate-left {
    --fa-animation-direction: reverse;
    --fa-animation-iteration-count: 1;
    --fa-animation-duration: 0.75s;
}

#counter {
    font-size: minmax(150px, 200px);
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}