:root {
    --bg-color: var(--bs-body-bg);
    --text-color: var(--bs-text-color);
    --body-color: var(--bs-secondary-bg);
}

[data-bs-theme="dark"] {
    --bg-color: var(--bs-body-bg);
    --text-color: var(--bs-text-color);
    --body-color: var(--bs-secondary-bg);
}

body {
    background-color: var(--body-color) !important;
    color: var(--text-color) !important;
}

.card {
    background-color: var(--bg-color) !important;
}

.fa-sun, .fa-moon {
    --fa-animation-duration: 0.5s;
}