.title {
    margin: 5px;
    margin-left: 3vw;
    padding: 5px;
    text-transform: uppercase;
    font-size: 20px;
}

h2 {
    margin-top: 15px;
    font-size: 32px;
}

#games {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 1200px;
    justify-self: center;
    gap: 70px;
    margin: 50px;;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    &.mirrored {
        direction: rtl;
        * { direction: ltr; }
    }
    img {
        width: 100%;
        aspect-ratio: 4 / 3;
        border-radius: 10px;
    }
    .text {
        margin: auto 20px;
        justify-self: center;
        .description {
            width: 100%;
        }
    }
}

.go-play {
    float: right;
    margin-top: 8px;
    margin-right: 20px;
    padding: 12px 20px;
    border: var(--alt-colour) solid 4px;
    border-radius: 30px;
    color: var(--link-text-colour);
    background-color: var(--background-colour);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    &:hover {
        color: var(--primary-text-colour);
        background-color: var(--alt-colour);
        border: var(--link-text-colour) solid 3px;
    }
}

@media (min-width: 1350px) {
    h2 { font-size: 36px; }
    p { font-size: 18px; }
}

@media (max-width: 985px) {
    .title {
        margin-left: 1vw;
    }
    #games {
        gap: 60px;
    }
    .game {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 10px;
        .text {
            max-width: 90%;
            justify-items: center;
            margin-bottom: 3vh;
        }
    }
    .go-play {
        float: none;
        margin: 12px auto 0;
    }
}