main {
    margin: 0 3vw;
}

h2 {
    color: var(--link-text-colour)
}

p { 
    margin: 0 1vw; 
    padding-bottom: 5px;
    img {
        display: inline-block;
        width: 16px;
        vertical-align: middle;
    }
}

ul {
    color: var(--secondary-text-colour);
}

.education ul, .work ul {
    margin-top: 0;
    margin-left: 1vw;
}

.business {
    font-weight: bold;
    font-size: 20px;
}

.title, .date {
    color: var(--alt-colour);
    font-size: 14px;
    margin-left: 1.5vw;
}

.skills ul {
    font-size: 14px;
}