:root {
    --primary-colour: rgb(0, 221, 255);
    --priamry-text-colour: #000;
    --secondary-text-colour: #333;
    --background-colour: #ffe;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--priamry-text-colour);
    background-color: var(--background-colour);
}

header {

}

nav {

}

footer {

}

#content {
    a {
        color: var(--priamry-text-colour);
        text-decoration: none;
    }
    :hover {

    }
}